/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Import Fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULTS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #1d2124;
}

.content{
  height: calc(100vh - 32px);
}